.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.search-container {
  margin-left: 10px;
}

.card {
  width: 200px;
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
}

.card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restuarant-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skinImg {
  width: 100%;
  height: 200px;
  background-color: #cfcfcf;
}

.card.skin {
  border: 1px solid #acacac;
}

.card.skin > h2 {
  width: 100%;
  height: 24px;
  background-color: #cccccc;
}

.card.skin > h3 {
  width: 100%;
  height: 18.72px;
  background-color: #cccccc;
}

.card.skin > h4 {
  width: 100%;
  height: 16px;
  background-color: #cccccc;
}

.flexContainer {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  gap: 10px; /* Add gap between elements */
}

.flexContainer > .search-container {
  display: flex;
  gap: 10px;
}

.skinInput {
  width: 200px;
  height: 20px;
  background-color: #cfcfcf;
}

.skinBtn {
  width: 70px;
  height: 20px;
  background-color: #b7b7b7;
}

.repeatedDivs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
